:root{
    --cor_onze: rgb(171, 179, 255);
    --cor_doze: rgb(122, 103, 228);
}
body{
    background-color: var(--cor_onze);
    font-family: 'Times New Roman', Times, serif;
}
.main{
    border: solid rgb(84, 62, 204);
    padding-left: center;
}
h1{
    color: var(--cor_doze);
    text-align: center;
}
.principal{
    border: solid rgb(97, 59, 202) 10px;
    text-align: center;
    height: 500px;
    width: 400px;
    border-radius: 11%;
    background-color: rgb(140, 148, 221);
    margin-left: 737px;
}
.button{
    background-color: rgb(127, 108, 233);
    border: solid rgb(84, 62, 204);
    border-radius: 50%;
    color:  rgb(127, 108, 233);
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    width: 123px;
    height: 30px;
    font-size: 243px;
}