:root{
    --cor_onze: rgb(171, 179, 255);
    --cor_doze: rgb(122, 103, 228);
}
body{
    background-color: var(--cor_onze);
}
h1{
    color: var(--cor_doze);
    text-align: center;
}
.principal{
    border: solid rgb(97, 59, 202) 10px;
    text-align: center;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(140, 148, 221);
    padding: 100px;
}
.button{
    text-align: center;
}